*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(90px, 90px)auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                          "mwnu container";
    transition: all .3s ease;                      
}
.container .active{
    grid-template-columns: minmax(300px, 18%) auto;
}
/* 
header */
