*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(90px, 90px)auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                          "menu container";
    transition: all .3s ease;                      
}
.container .active{
    grid-template-columns: minmax(300px, 18%) auto;
}
/* 
header */
.header{
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo search icons";
}
.header .container-logo .button-menu {
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.header .container-logo .button-menu:hover {
    background: #E7E7E7;
}
.header .container-logo .logo .fas {
    background: #ff0000;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: #fff;
    position: relative;
    top: -4px;
    margin-right: 4px;
}
.header .container-logo .logo {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .search {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .search input {
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.header .search button {
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background: #f8f8f8;
    padding: 0 25px;
    cursor: pointer;
}
.header .search button:hover{
    background: #f5f5f5;
}
.header .button-header {
    grid-area: icons;
    display: flex;
    align-items: center;
}
.header .button-header button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #828282;
    margin-right: 20px;
    cursor: pointer;
}
.header .button-header button:hover {
    background: #e7e7e7;
}
.header .button-header .avenger {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.header .button-header .avenger img{
    vertical-align: top;
    width: 100%;
    display: inline-block;
}