* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: nocturne-serif, serif;
font-weight: 500;
font-style: norma;
height: 100vh;
 background-image: url(../images/city-lit-up-at-night-316902.jpg); 
 background-repeat: no-repeat;
background-size: cover;
background-position: center; 
/* background: #333 url(../images/city-lit-up-at-night-316902.jpg) no-repeat center cover; */
color: #ccc;
overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}
h1, h2 {
    font-weight: 200;
    margin: 0.4rem;
}
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 2rem;
    color: #aaa;
}

/* cursor */

.txt-type > .txt {
    border-right: 2.2rem solid #777;
}