:root{
    --rojo:#E50914;
    --fondo:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--fondo);
     font-family: worker, serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor{
    width: 90%;
    margin: auto;
}
header{
    padding: 30px 0px;
}
header.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logotipo {
    font-family: worker, serif;
    font-weight: 400;
    font-style: normal;
    color:var(--rojo);
    font-size: 40px;
}
header nav a {
color: #AAA;
text-decoration: none;
margin-right: 20px;
}
header nav a:hover,
header nav a.activo{
color:#fff;
}

