:root{
    --rojo:#E50914;
    --fondo:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--fondo);
     font-family: worker, serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor{
    width: 90%;
    margin: auto;
}
header{
    padding: 30px 0px;
}
header.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logotipo {
    font-family: worker, serif;
    font-weight: 400;
    font-style: normal;
    color:var(--rojo);
    font-size: 40px;
}
header nav a {
color: #AAA;
text-decoration: none;
margin-right: 20px;
}
header nav a:hover,
header nav a.activo{
color:#fff;
}

/* Película-principal */
.pelicula-principal{
    font-size:16px;
    min-height: 40.62em;
    color:#fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../images/avenger1.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}
.pelicula.principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}
.pelicula-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.pelicula.principal .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.pelicula-principal .boton{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
.pelicula-principal .boton:hover{
    background: #fff;
    color: #000;
}
.pelicula-principal .boton i{
    margin-right: 1.25em;
}

/* title */
.contenedor-titulo-controles{
display: flex;
justify-content: space-between;
align-items: end;
}
.contenedor-titulo-controles h3 {
color: #fff;
font-size: 20px;
}
.contenedor-titulo-controles .indicadores button {
 background: #fff;
 height: 3px;
 width: 10px;
 cursor: pointer;
 border: none;
 margin-right: 2px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
    background: red;
}
/* carousel/contenedor */
.peliculas-recomendadas{
 margin-bottom: 70px;

}
.peliculas-recomendadas .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izq,
.peliculas-recomendadas .contenedor-principal .flecha-der {
position: absolute;
border: none;
background: rgba(0, 0, 0, 0.3);
font-size: 40px;
height: 50%;
top: calc(50% -25%);
line-height: 40px;
width: 50px;
color: #fff;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}
.peliculas-recomendadas .contenedor-principal .flecha-izq:hover,
.peliculas-recomendadas .contenedor-principal .flecha-der:hover{
    background: rgba(0, 0, 0, .8);
}

.peliculas-recomendadas .contenedor-principal .flecha-izq {
    left: 0;
}
.peliculas-recomendadas .contenedor-principal .flecha-der {
    right: 0;
}
/* carousel */
.peliculas-recomendadas .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
width: 20%;
transition: .3 ease;
box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula  img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
}
