* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* perspective: 200px; 
     perspective-origin: center;    */
   /*    perspective-origin: left; */
    /* perspective-origin: bottom; */
    /* perspective-origin: 100vh;  */
 /*    perspective-origin: bottom left; */
}
.container{
 border: 1px solid blue ;
 width: 100vh;
 height: 100px;
}
.container:hover .cuadrado{
   /*  transform-origin:right top;  *//* posición del punto-posicionado/comienza */
  /*  transform-origin:100% 50% ; */ /* izquierda (0% 50%)  */
    /* transform: rotateZ(45deg); */
    /*  transform: rotate(45deg);  */
   /*    transform: translateX(200px);  */
/*   transform: translateY(-200px); */
  /*    transform: translateZ(50px); */
      /*  transform: translate3d(100px, 100px, 100px); */
     /*  transform: translate(200px); */
    /*  transform: scale(2, 3);  *//* ancho y alto */
       /*  transform: scale(.5); */
       /* transform: skew(45deg); */
      /*  transform: skew(45deg, 45deg); */
      animation-play-state: paused;
} 
.cuadrado{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: red;
    border-radius: 50%;
    /* transition: .3s */
  /*  transform: rotate(45deg); */   
  animation-name: cuadrado, rebote;
  animation-duration: 2s, .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 /*  animation-timing-function: ease-in-out;
  animation-timing-function: steps(60); */
  /* animation: cubic-bezier(0.05, .8, 0.96,.4); */
  animation-timing-function: cubic-bezier(0.05, .8, 0.96, .4);
  position: relative;
 /*  animation-iteration-count: infinite; */
/*   animation-iteration-count: 3; */
  /* animation-delay: 1s; */
 /*  animation-timing-function: 1s; */
}
/* transform: rotate3d(X / Y / Z / rotate()) */

/* .element {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: blue;
    animation-name: stretch;
    animation-duration: 1s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
} */

@keyframes cuadrado {

    0% {
     /*  opacity: 1; */
     left: 0;
    }
   /*  50% {
        opacity: .5;
    } */
    100%{
       /*  opacity: 0; */
       left: calc(100% - 240px);
    }
}

@keyframes rebote {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100px) scale(1,.8);
    }
}

/* @keyframes stretch {
 from {
  transform: scale(.3);
  background-color: blue;
  border-radius: 100%;
 }
 50% {
  background-color: orange;
 }
 to {
 transform: scale(1.5);
 background-color: yellow;
 }
} */