* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like {
   /*  width: 100px;
    height: 100px; */
    width: 50px;
    height: 50px;
    background-image:url(../images/corazon_b33c879a-0926-4897-a92f-495f0a44018c.png);
    cursor: pointer;
   background-size: 1450px 50px;
}
 .like.is-like {
    animation-name:like;
    animation-duration:.8s;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
} 
