@keyframes waves {
    from {
    transform: translate(0, 0)
    }
    50% {
        transform: translate(-80px, 10px);
    }
   75% {
        transform: translate(10px, -60px);
    } 
    to {
    transform: translateX(-80px) translateY(-10px);
    }
}